# Python
__pycache__/
*.py[cod]
*$py.class

# Environments
venv/
env/

# Data and Logs
data/
*.log
screenshots/

# System
.DS_Store
Thumbs.db

# Selenium Profile (IMPORTANT: Do not upload your local profile)
selenium_profile/